body{
  main{
    background-color: #7AACBF;
    font-family: 'Roboto', sans-serif;
    .articleAboutMe{
        margin-top: 15vh;
        text-align: center;
        margin-bottom: 100px;
        box-sizing: content-box;
        }
        article{
            .flexAboutMe{
                background-color: white;
                margin-left: 20%;
                margin-right: 20%;
                height: 50%;
                display: flex;
                flex-direction: column;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                align-items: center;
                padding-top: 50px;
                padding: 1.5rem;
              }
              .h2AboutMe{
                margin-bottom: 10px;
                font-size: 40px;
              }
              .h3AboutMe{
                font-size: 20px;
              }
              margin-bottom: 10rem;

        }
  }
  }
  
