@media (min-width: 1024px) and (max-width:10000px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
      }
      .mainFooter{
        height: 15vh;
        padding-top: 2rem;
      }
      .homeSection{
        height: 70vh;
      }
      .flexBoxContact{
        display: flex;
        flex-direction: row !important;
        background-color: white;
        align-content: center;
        justify-content: center;
        font-size: 1.5rem;
        h3{
          font-size: 2rem;
        }
      }
      .articleContact{
        margin-right: 100px;
      }
      .flexAboutMe{
        height: 50vh !important;
      }
}